#productsId-container {
  min-height: 100vh;
}

.list-button {
  display: flex;
  align-items: right;
  justify-content: end;
}

.list-button button {
  border-radius: 50% 50% 50% 50%;
  height: 2rem;
  width: 2rem;
  box-shadow: 1px 1px 8px black;
  border: none;
  margin-left: 4px;
}

.list-button button:hover {
  box-shadow: 1px 1px 8px red;
}

.storedProduct {
  background-image: linear-gradient(
    to right,
    #0c7423,
    #29621b,
    #385e14,
    #618114,
    #80920b
  );
  margin-bottom: 8px;
  color: white;
  border-radius: 10px;
  box-shadow: 3px 3px 5px rgb(17, 17, 17);
  padding: 5px;
}

.product-parameter {
  padding-left: 5px;
}

.row.group-button-products button {
  border-radius: 10px 10px 10px 10px;
}
