@import url("https://fonts.googleapis.com/css2?family=Corinthia:wght@700&family=Gwendolyn:wght@900&family=Pacifico&display=swap");

#brand {
  color: white;
  font-family: "Corinthia", cursive;
  font-family: "Gwendolyn", cursive;
  font-weight: 600;
  text-shadow: 0.5px 0.5px rgb(255, 174, 0);
}

nav.bg-custom {
  background-image: linear-gradient(
    to right,
    #053710,
    #29621b,
    #578f21,
    #8ebd1f,
    #cfeb12
  );
}

.wareHouse_header {
  padding-top: 15px;
}

button.navbar-toggler {
  background-color: #388711;
  color: white;
  font-weight: bold;
}

.nav-link a {
  margin-top: 6px;
  text-decoration: none;
  color: rgb(253, 252, 250);
  font-weight: 600;
  display: inline-block;
}

.nav-link a:hover {
  color: #d53f0b;
}

a.actived {
  color: rgb(235, 137, 8);
  font-weight: 800;
}
